<h1>Posts#index</h1>

<%= link_to "New Post", new_post_path %>

<p>Here are the posts we found!</p>

<% @posts.each do |post| %>
	<h2> <% post.user_id %></h2>
	<p> <%= post.url %> </p>
	<p> <%= post.caption %> </p>
	<hr>
<% end %>


