<h1>Posts#index</h1>

<%= link_to "New Post", new_post_path %>

<p>Here are the posts we found!</p>

<% @posts.each do |post| %>
	<p><%= link_to 'Follow ' + post.user.name, user_path(post.user) %></p>
	<p> <%= image_tag post.url %> </p>
	<p> <%= post.caption %> </p>
	<hr>
<% end %>


